<h1>WOOOHOOOO THIS IS EVERYTHING ABOUT THIS PAGE !!!>

<!--this is the ruby way of linking to pages -->
<%=link_to "let's go back to the home page",pages_home_path %><br><br>

<!--this is the html way of linking two pages-->
<a href="/pages/home">Feel free to go back to the home page</a>
