<h1 align="center">I CAN'T BELEIVE THIS IS ACTUALLY  WORKING !!!</h1>	
<%=link_to image_tag('comic.jpg',alt:"Marvel heroes picture"), 'https://www.therailsshop.club',target: :blank %>
<a href="https://www.therailsshop.club">
	<img  target="blank" src="/assets/dc.jpg" alt="photo of DC legends">
</a>
<!--this us the ruby way of linking two pages --> 
<%=link_to "check out the about page", pages_about_path %><br><br>

<!--this is the html way of linking two pages-->

<a href="/pages/about">Go on and check out the about page</a>